/* first-of-type : div etiketinin üzerinde paragraf yada başka bir yapı bile olsa ilk divi alır */
div:first-of-type{
    background-color: blueviolet;
}


p:first-child{  /*paragraf üzerinde div etiketi olursa işlem işe yaramaz */
    background-color: blue;
} 

p:first-of-type{ /*paragraf üzerinde div etiketi olursa işlem işe yarar */
    background-color: red;
}

div:last-of-type{  /*div etiketinin altındaki son divi seçer */
    background-color: black;
}